$gradientPrimary: hsl(21, 100%, 82%) 0%, hsl(335, 100%, 65%) 100%;
$paleBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);
$fontSize: 14px;
$fontFamily: 'Raleway', sans-serif;
$fontWeight400: 400;
$fontWeight700: 700;
$minWidth: 768px;