@import "./variables";
@media (min-width: $minWidth) {
  body {
    background: $veryDarkBlue url(/images/bg-desktop.png) no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
  }
  .container {
    display: flex;
  }
  .tools {
    padding: 2rem 7rem 2rem 2.5rem;
  }
  .usage {
    .rext-info {
      padding: 2rem 5rem 1rem 2rem;
    }
    .information {
      padding: 0;
    }
    .left {
      width: 10rem;
      border-radius: 0.5rem;
      top: -2rem;
      right: 2rem;
      border-bottom-right-radius: 0;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-top: 25px solid white;
        bottom: -20px;
        right: 0;
      }
      h1 {
        font-family: $fontFamily;
        margin-right: 0.5rem;
      }
      span {
        font: $fontWeight700 $fontSize $fontFamily;
        color: $paleBlue;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 970px) {
  .usage {
    .rext-info {
      padding: 2rem 18rem 1rem 2rem;
    }
  }
}
